body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

header {
  text-align: center;
  padding: 50px;
  background: linear-gradient(135deg, #1e293b, #0f172a);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #22c55e;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 10px;
}

section {
  padding: 40px;
}

.projects {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}
