body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #1e293b;
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: #020617;
}

section {
  padding: 40px;
}

.skill-box, .project {
  background: #1e293b;
  padding: 15px;
  margin: 10px 0;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}